---
# f string 활용
---

In [2]:
# 숫자 포맷팅
숫자=10
자릿수 = 10
f'{숫자:>{자릿수}}'

'        10'

In [5]:
f'{숫자:0{자릿수}d}'

'0000000010'

In [6]:
pi=3.141592
num=3
f'{pi:.{num}f}'

'3.142'

# walrus연산자

In [8]:
value= 10
(value:=value+1) #왈러스 연산자

11

In [46]:
def sigma(n):
    count=0
    result=0
    while(count:=count+1)<n+1:
        result+=count
    return result
sumamtion=sigma(100)
if sumation:
    print(sumation)
else:
    print('잘못된 인수를 입력하였습니다.')

5050

In [44]:
# 왈러스 연산자 적용
if sumation:=sigma(100):
    print(sumation)
else:
    print("잘못입력")

5050

In [18]:
# 비교연산자 입력 가능
if (sum:=sigma(100))==5050:
    print(sum)
else:
    print("잘못입력")

5050

# Dictionary Error 처리
* switch/case method와 유사

In [22]:
def weekday(day):
    return{
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일'
        
    }.get(day,"요일없음")

In [23]:
weekday(3)

'수요일'

In [24]:
{
    0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일'
        
    }[2]

'화요일'

## 딕셔너리 get method 사용

In [26]:
{
    0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일'
        
    }.get(10,"요일없음")

'요일없음'

# append와 list comprehension 이용

In [28]:
import dis # 바이트 코드 얻음
def test():
    x=[i for i in range(100)]
dis.dis(test)

  3           0 LOAD_CONST               1 (<code object <listcomp> at 0x000001CCE6C2D660, file "<ipython-input-28-8622d1050c23>", line 3>)
              2 LOAD_CONST               2 ('test.<locals>.<listcomp>')
              4 MAKE_FUNCTION            0
              6 LOAD_GLOBAL              0 (range)
              8 LOAD_CONST               3 (100)
             10 CALL_FUNCTION            1
             12 GET_ITER
             14 CALL_FUNCTION            1
             16 STORE_FAST               0 (x)
             18 LOAD_CONST               0 (None)
             20 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x000001CCE6C2D660, file "<ipython-input-28-8622d1050c23>", line 3>:
  3           0 BUILD_LIST               0
              2 LOAD_FAST                0 (.0)
        >>    4 FOR_ITER                 8 (to 14)
              6 STORE_FAST               1 (i)
              8 LOAD_FAST                1 (i)
             10 LIST_APPEND              2
             12 JUMP_ABSOLUTE            4
        >>   14 RETURN_VALUE

In [29]:
import dis # 바이트 코드 얻음
def test():
    x=[]
    for i in range(100):
        x.append(i)
    return x
dis.dis(test)

  3           0 BUILD_LIST               0
              2 STORE_FAST               0 (x)

  4           4 LOAD_GLOBAL              0 (range)
              6 LOAD_CONST               1 (100)
              8 CALL_FUNCTION            1
             10 GET_ITER
        >>   12 FOR_ITER                14 (to 28)
             14 STORE_FAST               1 (i)

  5          16 LOAD_FAST                0 (x)
             18 LOAD_METHOD              1 (append)
             20 LOAD_FAST                1 (i)
             22 CALL_METHOD              1
             24 POP_TOP
             26 JUMP_ABSOLUTE           12

  6     >>   28 LOAD_FAST                0 (x)
             30 RETURN_VALUE

## 속도측정 (list comprehension vs append)

In [48]:
del sum

In [50]:
%%timeit #%memit
def test(n):
    s=[]
    for i in range(n+1):
        i=i**2
        s.append(i)
        
    return sum(s)

test(1000000)

227 ms ± 9.21 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [51]:
%%timeit #%memit
def test(n):
    s=[i**2 for i in range(n+1)]
    return sum(s)

test(1000000)

198 ms ± 3.45 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# sorted의 Key 응용

In [53]:
sorted({1:"D",2:"B",3:"B",4:"E",5:"A"})

[1, 2, 3, 4, 5]

## sorted를 위해 특정 자료형의 method 이용 가능

In [56]:
sorted("it's my life now or never I'm gonna rip forever".split(),key=str.lower)

['forever', 'gonna', "I'm", "it's", 'life', 'my', 'never', 'now', 'or', 'rip']

## tuple 정렬

In [57]:
students=[
    ('john',"A",15),
    ('jane',"B",12),
    ('dave',"B",10)
]

### lambda 함수 활용 가능

In [58]:
sorted(students,key=lambda student: student[2]) # 람다 함수 활용

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

## Class로 선언한 변수 정렬

In [60]:
class Student:
    def __init__(self,name,grade,age):
        self.name=name
        self.grade=grade
        self.age=age
    def __repr__(self):
        return repr((self.name,self.grade,self.age))

In [72]:
student_class={
    Student("john","A",15),
    Student("jane","B",12),
    Student("dave","B",10)
}

### lambda 활용

In [73]:
sorted(student_class,key=lambda st:st.age)

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [74]:
sorted(student_class,key=lambda st:st.grade)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

### itemgetter 활용

In [75]:
from operator import itemgetter, attrgetter
sorted(students, key=itemgetter(2))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [76]:
sorted(student_class, key=attrgetter("age"))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [77]:
sorted(students, key=itemgetter(1,2)) # 다중순회 이용

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [78]:
sorted(student_class, key=attrgetter("grade","age"))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

### 역순정렬은 reverse=True

In [79]:
sorted(students, key=itemgetter(2),reverse=True)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

## 길이 순으로 정렬

In [80]:
len_test=["a","bb","CCC","aaaaa"]

In [82]:
sorted(len_test,key=len,reverse=True)

['aaaaa', 'CCC', 'bb', 'a']

### built in function 사용 가능

In [83]:
test=[(30,20,10),(10,100,90),(90,90,90),(50,20,30),(10,20,10)]

In [84]:
sorted(test)

[(10, 20, 10), (10, 100, 90), (30, 20, 10), (50, 20, 30), (90, 90, 90)]

In [85]:
sorted(test, key=lambda x:x[0])

[(10, 100, 90), (10, 20, 10), (30, 20, 10), (50, 20, 30), (90, 90, 90)]

#### 합계로 정렬

In [87]:
sorted(test, key=lambda x:sum(x),reverse=True)

[(90, 90, 90), (10, 100, 90), (50, 20, 30), (30, 20, 10), (10, 20, 10)]

## 특정 값을 우선으로 출력 (사용자 정의 함수 활용)

In [99]:
test=[10,2,1,2,9,3,0,5,5,5,6,9,3,11,22]
prem=[0,1,11,111]
def pre(n): #우선 순위 판별
    if n in prem:
        return(False, n)
    return (True, n)
# test
pre(111)

(False, 111)

### 우선 순위 먼저 출력1

In [101]:
sorted(test, key=pre)

[0, 1, 11, 2, 2, 3, 3, 5, 5, 5, 6, 9, 9, 10, 22]

#### lambda 활용

In [102]:
sorted(test, key=lambda x: False if x in prem else True)

[1, 0, 11, 10, 2, 2, 9, 3, 5, 5, 5, 6, 9, 3, 22]

In [103]:
sorted(test, key=lambda x: (False,x) if x in prem else (True,x))

[0, 1, 11, 2, 2, 3, 3, 5, 5, 5, 6, 9, 9, 10, 22]

# Type hint
- Type annotaion : Python 3.5부터 지원

In [105]:
number: int =1
name: str ="김모씨"
arr: list=['a','b','c'] # list 내부의 변수는 명시하지 못함

In [106]:
def greet(name:str)->str: # hint 제공
    return "hello. "+name


## typing 모듈이용
* 집합형 변수 안에 있는 값의 변수 형태도 명시 가능
* 에러 발생은 하지 않음

In [108]:
import typing
arr: typing.List[int]=[1,2,3]
alpha: typing.Tuple[str,str,str]=('a','b','c')
student : typing.Dict[str,int]={"lee":1,"ha":2}

# sum 사용- 응용법

## list 합치기

In [112]:
list1=[['a','b','c'],[1,2,3],['x','y','z']]
sum(list1,[])

['a', 'b', 'c', 1, 2, 3, 'x', 'y', 'z']

## list 합치면서 요소 추가

In [113]:
sum(list1,["!!"])

['!!', 'a', 'b', 'c', 1, 2, 3, 'x', 'y', 'z']

## Tuple 합치기

In [114]:
tuple1=(('a','b','c'),(1,2,3),('x','y','z'))
sum(tuple1,())

('a', 'b', 'c', 1, 2, 3, 'x', 'y', 'z')

## Dictionary 합치기

In [115]:
dic={1:'one',2:'two'}
sum(dic,0)

3

In [117]:
dic={1:'one',2:'two'}
sum(dic,5) # 1+2 +5

8

## 행렬 연산

In [118]:
data=[[0,1,2],
      [3,4,5],
      [6,7,8]]

In [123]:
# sum(data)는 사용 불가
sum(sum(data,[]))

36

## Numpy 사용한 행렬 연산

In [125]:
import numpy as np
np.sum(data,axis=1)
# axis=0 열방향, axis=1 행방향

array([ 3, 12, 21])

In [126]:
np.sum(data,axis=0)

array([ 9, 12, 15])