#  정규 표현식
## tutorial 1

In [2]:
import re
reg=r'([a-zA-Z]+) : (\d+)'  # group1 : ([a-zA-Z]+) group2 : (\d+)
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result = re.search(reg,text) # 처음에 매칭되는 패턴만 찾음
print(result)
print(type(result))
print(dir(result))
# <class 're.Match'>
'''
'end', 'endpos', 'expand', 'group', 'groupdict', 'groups', 'lastgroup',
'lastindex', 'pos', 're', 'regs', 'span', 'start', 'string'
'''

<re.Match object; span=(17, 25), match='age : 10'>
<class 're.Match'>
['__class__', '__copy__', '__deepcopy__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'end', 'endpos', 'expand', 'group', 'groupdict', 'groups', 'lastgroup', 'lastindex', 'pos', 're', 'regs', 'span', 'start', 'string']

"\n'end', 'endpos', 'expand', 'group', 'groupdict', 'groups', 'lastgroup',\n'lastindex', 'pos', 're', 'regs', 'span', 'start', 'string'\n"

In [3]:
result.start() # match된 
result.end()

25

In [4]:
text[result.start():result.end()]

'age : 10'

In [5]:
print(result.group(0)) # 전체
print(result.group(1)) # 1번 그룹
print(result.group(2)) # 2번 그룹

age : 10
age
10

## tutorial 2

In [6]:
reg=r'([a-zA-Z]+) : (\d+)'  # group1 : ([a-zA-Z]+) group2 : (\d+)
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result = re.findall(reg,text) # 정규표현식에 매칭되는 값 전체를 찾음
result # list안의 Tuple 값으로 반환함

[('age', '10'), ('height', '180')]

In [7]:
# 딕셔너리로 반환
dict_result=dict(result)
# dict로 변환 후 JSON등으로 변환 가능
dict_result

{'age': '10', 'height': '180'}

In [8]:
print(type(result))
print(dir(result))

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [9]:
reg=r'([a-zA-Z]+) : (\d+)'  # group1 : ([a-zA-Z]+) group2 : (\d+)
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result = re.finditer(reg,text) #iterable 객체로 반환
result # iterator 생성

In [10]:
# for문 활용가능 
for i in result:
    print(i)
    # print(type(i))
    # print(dir(i))
    print(i.start(),i.end())
    print(i.group(0))
    print(i.group(1))
    print(i.group(2))

<re.Match object; span=(17, 25), match='age : 10'>
17 25
age : 10
age
10
<re.Match object; span=(27, 39), match='height : 180'>
27 39
height : 180
height
180

## tutorial 3

In [11]:
import re
reg=r'([a-zA-Z]+) : (\d+)'  # group1 : ([a-zA-Z]+) group2 : (\d+)
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result=re.split(reg,text,2) # 정규표현식 패턴 기준으로 분할
# split (정규표현식, 문자열,[최대분할수])
result # 패턴외 부분은 앞뒤로 list 저장

['name : leehskkk, ',
 'age',
 '10',
 ', ',
 'height',
 '180',
 ', email : d-bla@abc.com']

In [26]:
reg=r','  # comma로 설정
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result=re.split(reg,text,2) # 정규표현식 패턴 기준으로 분할
# split (정규표현식, 문자열,[최대분할수])
print(result) # 패턴외 부분은 앞뒤로 list 저장
print(type(result))

['name : leehskkk', ' age : 10', ' height : 180, email : d-bla@abc.com']
<class 'list'>

## tutorial 4
### 정규표현식 Pattern을 정의후 Compile하여 활용

In [21]:
import re
reg=r','  # comma로 설정
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result=re.sub(reg,"!!!",text) # comma를 !!!로 대체
print(result)
print(type(result))

name : leehskkk!!! age : 10!!! height : 180!!! email : d-bla@abc.com
<class 'str'>

In [22]:
# Complie 후 substititue 1
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result=re.compile(",").sub("!!!_!!!",text) # comma를 !!!_!!!로 대체
print(result)
print(type(result))

name : leehskkk!!!_!!! age : 10!!!_!!! height : 180!!!_!!! email : d-bla@abc.com
<class 'str'>

In [23]:
# Complie 후 substititue 2
reg = re.compile(',')
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result=reg.sub("!++!",text) # comma를 !++!로 대체
print(result)
print(type(result))

name : leehskkk!++! age : 10!++! height : 180!++! email : d-bla@abc.com
<class 'str'>

In [24]:
# Complie 후 substititue 3
reg = re.compile(',')
text = 'name : leehskkk, age : 10, height : 180, email : d-bla@abc.com'
result=re.sub(reg,"!++!",text)
print(result)
print(type(result))

name : leehskkk!++! age : 10!++! height : 180!++! email : d-bla@abc.com
<class 'str'>

## tutorial 5
* aaabbccc는 a3b2c3로 압축
* 다시 원래대로 복귀

In [30]:
import re
reg=re.compile(r'([a-zA-Z])([1-9])')
text='a3b2c3'
result=reg.findall(text)
result

[('a', '3'), ('b', '2'), ('c', '3')]

In [31]:
s='' # 빈 문자열
for i,j in result:
    s+=i*int(j)
s

'aaabbccc'

## tutorilal 6
* 문자형태로 저장된 list 정리

In [32]:
text="[(name,jseee),(age,10),(height,180),(email,pead-ddd@naver.com)]"
reg=r'\((.*?),(.*?)\)' # *= greedy operator ?= non greedy operator
result=re.findall(reg,text)
result

[('name', 'jseee'),
 ('age', '10'),
 ('height', '180'),
 ('email', 'pead-ddd@naver.com')]

In [33]:
# result dict 형태로 반환
result=dict(result)
result

{'name': 'jseee', 'age': '10', 'height': '180', 'email': 'pead-ddd@naver.com'}

## tutorial 7
* 6464-46463-33131 하나은행를 하나은행!!!6464 46463 33131으로 출력

In [40]:
import re
reg= r'(?P<one>\d+)-(?P<two>\d+)-(?P<three>\d+) (?P<four>\w+)'# Grouping 이름 지정
text="6464-46463-33131 하나은행"
result=re.match(reg,text)
# expand 사용하면 group별로 지정가능
result.expand("\g<four>!!!\g<one> \g<two> \g<three>")

'하나은행!!!6464 46463 33131'